# Node-- Thanks Github!

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
# node_modules # http://www.futurealoof.com/posts/nodemodules-in-git.html

# Sublime
*.sublime*
