doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='https://api.trello.com/1/client.js?key=fdff9320ae515b85b6e945ce11820d32')
    block headContent
  body
    block content